{{- $neovim := promptBoolOnce . "features.neovim" "Install Neovim, SKK dictionaries, and yaskkserv2 service" true -}}

[data.features]
neovim = {{ $neovim }}

{{ if eq .chezmoi.os "windows" -}}
sourceDir = "Z:/github.com/kqnade/dotfiles"
{{- else -}}
sourceDir = "~/ghq/github.com/kqnade/dotfiles"
{{- end }}
