[user]
	name = kqnade
	email = git@k4na.de
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPRS6ZG6P/46d8Ad9Q1mvaPbnQWFIv2F3MYdp3z2sNNj

[gpg]
	format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "linux" }}
	program = "/opt/1Password/op-ssh-sign"
{{- end }}

[ghq]
{{- if eq .chezmoi.os "windows" }}
	root = Z:/
{{- else }}
	root = ~/ghq
{{- end }}

[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	sub = "submodule update --remote --merge"
	ccc = "!zsh -c 'source ~/.config/zsh/functions/ccc.zsh && git-ccc'"

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	enable = true
	navigate = true
	light = false

[merge]
	conflictstyle = zdiff3

[pull]
	ff = only
	rebase = true

[init]
	defaultBranch = main

[rebase]
	autoStash = true
	autoSquash = true

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[url "https://github.com/"]
	insteadOf = git://github.com/

[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gitlab.com"]
	helper = !glab auth git-credential

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
