pkgbase = base-env
	pkgdesc = My declarative base environment
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	depends = mise
	depends = libyaml
	depends = ghq
	depends = gnupg
	depends = zsh
	depends = chezmoi
	depends = vim
	depends = sheldon
	depends = git-delta
	depends = git-lfs
	depends = github-cli
	depends = glab
	depends = openssh
	depends = pinentry
	depends = pass

pkgname = base-env
